# Test Report

*Report generated on 06-May-2025 at 11:22:34 by [pytest-md]*

[pytest-md]: https://github.com/hackebrot/pytest-md

## Summary

97 tests ran in 10.47 seconds

- 30 failed
- 67 passed
